@page
@model MySite.Pages.FileNameModel
@{
    ViewData["Title"] = "Impressum";
}

<div class="text-center">
    <h1 class="display-4">Impressum</h1>
    <p>Anbieter:<br />Simon Freygang<br />Kirdorfer Allee 21<br />50181 Bedburg</p>
    <p>Kontakt:<br />Telefon: +49 177 9242019<br />E-Mail: simon.freygang@gmail.com<br />Website: www.simon-freygang.de</p>
    <!--
    <p> </p>
    <p>Bei redaktionellen Inhalten:</p>
    <p>Verantwortlich nach § 55 Abs.2 RStV<br />Moritz Schreiberling<br />Musterstraße 2<br />80999 München</p> -->
</div>
